@using SeminarskiRS1.Models
@model SeminarskiRS1.ViewModels.Servisi.ServisUrediVM
@{
    ViewData["Title"] = "Uredi";
}

<h1>Uredi</h1>

<form action="/Servis/Snimi" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.ServisID)
    <label>Lokacija Map</label>
    @Html.TextBoxFor(s => s.LokacijaMap)
    <br />
    <label>Opis</label>
    @Html.TextBoxFor(s => s.Opis)
    <br />
    <label>Radno Vrijeme</label>
    @Html.TextBoxFor(s => s.RadnoVrijeme)
    <br />
    <label>Usluge</label>
    @Html.TextBoxFor(s => s.Usluge)
    <br />
    <label>Grad</label>
    @Html.DropDownListFor(s => s.GradID, Model.gradovi)

    <input type="submit" value="Snimi" />
</form>
