@model SeminarskiRS1.ViewModels.VoziloUrediVM
@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj</h1>
<form action="/Vozila/Dodaj">
    <label>Unesite tip vozila:</label>
    @Html.TextBoxFor(s => s.Tip)
    <br />
    <label>Unesite marku vozila:</label>
    @Html.TextBoxFor(s => s.Marka)
    <br />
    <label>Unesite model vozila:</label>
    @Html.TextBoxFor(s => s.Model)
    <br />
    <label>Unesite KS vozila:</label>
    @Html.TextBoxFor(s => s.KS)
    <br />
    <label>Unesite potrosnju vozila:</label>
    @Html.TextBoxFor(s => s.Potrosnja)
    <br />
    <label>Unesite registraciju vozila:</label>
    @Html.TextBoxFor(s => s.Registracija)
    <br />
    <label>Unesite datum vazenja registracije vozila:</label>
    @Html.TextBoxFor(s => s.VazenjeRegistracije)
    <br />
    <label>Unesite masu vozila:</label>
    @Html.TextBoxFor(s => s.Masa)
    <br />
    <label>Unesite zapreminu motora vozila:</label>
    @Html.TextBoxFor(s => s.ZapreminaMotora)
    <br />
    <label>Unesite godinu proizvodnje vozila:</label>
    @Html.TextBoxFor(s => s.GodinaProizvodnje)
    <br />

    <input type="submit" value="Submit" />
</form>

