@using SeminarskiRS1.Models
@model SeminarskiRS1.ViewModels.Rute.RuteUrediVM
@{
    ViewData["Title"] = "Uredi";
}

<h1>Uredi</h1>

<form action="/Rute/Snimi" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.RutaID)
    <label>Naziv</label>
    @Html.TextBoxFor(s => s.Naziv)
    <br />
    <label>Početna</label>
    @Html.TextBoxFor(s => s.Pocetna)
    <br />
    <label>Završna</label>
    @Html.TextBoxFor(s => s.Zavrsna)
    <br />
    <label>Daljina</label>
    @Html.TextBoxFor(s => s.Daljina)
    <br />
    <label>Cijena putarine</label>
    @Html.TextBoxFor(s => s.CijenaPutarine)
    <br />
    <label>Korisnik</label>
    @Html.DropDownListFor(s => s.KorisnikID, Model.korisnici);

    <input type="submit" value="Snimi" />
</form>

