@using SeminarskiRS1.Models
@model SeminarskiRS1.ViewModels.Kantoni.KantonUrediVM
@{
    ViewData["Title"] = "Uredi";
}

<h2>Uredi</h2>


<form action="/Kantoni/Snimi" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.KantonID)
    <div class="form-group">
        <label>Naziv</label>
        @Html.TextBoxFor(s => s.NazivKantonta)
    </div>

    <div class="form-group">
        <label>Skracenica</label>
        @Html.TextBoxFor(s => s.Skracenica)
    </div>
    
    <div class="form-group">
        <label>Drzava</label>
        @Html.DropDownListFor(s => s.DrzavaID,Model.drzave)
    </div>

    <input type="submit" value="Snimi" />
</form>