@using SeminarskiRS1.Models
@using SeminarskiRS1.ViewModels.Uposlenici
@{
    ViewData["Title"] = "Prikazi";
    List<UposleniciPrikaziVM> uposlenici = (List<UposleniciPrikaziVM>)ViewData["uposlenici-kljuc"];
}

<h1>Prikaz uposlenika</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>BrTelefona</th>
            <th>Email</th>
            <th>Spol</th>
            <th>TipUposlenika</th>
            <th>Grad</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in uposlenici)
        {
            <tr>
                <td>@x.Ime</td>
                <td>@x.Prezime</td>
                <td>@x.BrTelefona</td>
                <td>@x.Email</td>
                <td>@x.Spol</td>
                <td>@x.UposlenikTip</td>
                <td>@x.Grad</td>

                <td><a href="/Uposlenici/Obrisi?UposlenikID=@x.UposlenikID" class="btn btn-danger">Obrisi</a>
                <a href="/Uposlenici/Uredi?UposlenikID=@x.UposlenikID" class="btn btn-info">Uredi</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Uposlenici/Dodaj" class="btn btn-success">Dodaj novog uposlenika</a>
<a href="/Home/Index" class="btn btn-info">Back</a>

