@using SeminarskiRS1.Models
@model SeminarskiRS1.ViewModels.Uposlenici.UposleniciUrediVM
@{
    ViewData["Title"] = "Uredi";
}

<h1>Uredi</h1>

<form action="/Uposlenici/Snimi" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.UposlenikID)
    <label>Ime</label>
    @Html.TextBoxFor(s => s.Ime)
    <br />
    <label>Prezime</label>
    @Html.TextBoxFor(s => s.Prezime)
    <br />
    <label>BrojTelefona</label>
    @Html.TextBoxFor(s => s.BrTelefona)
    <br />
    <label>Email</label>
    @Html.TextBoxFor(s => s.Email)
    <br />
    <label>Spol M/Ž</label>
    @Html.TextBoxFor(s => s.Spol)
    <br />
    <label>TipUposlenika</label>
    @Html.DropDownListFor(s => s.UposlenikTipID,Model.tipovi)
    <br />
    <label>Grad</label>
    @Html.DropDownListFor(s => s.GradID,Model.gradovi)

    <input type="submit"value="Snimi" />
</form>